/* general styling til alle sider */

:root {
    /* farver */
    --Krifa-Lilla: #460144;
    --Lilla-Accent: #9946C1;
    --Hvid: #fff;
    --sort: #000;
    --Gul: #f1e13d;
    --Lys-Blaa: #cbe6f7;
    --graa: #a6aec6;
    --lys-Graa: #e5e9f2;
    /* font */
    --Hero-Desktop: 68px;
    --heading-Desktop: 42px;
    --Subheading-Desktop: 26px;
    --Body: 16px;


    --Hero-Mobile: 48px;
    --heading-Mobile: 32px;
    --Subheading-Mobile: 22px;
    --Body-Mobile: 16px;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General styling */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}


p {
    line-height: 1.5;
    font-size: var(--Body);

}

h1 {
    font-size: var(--Hero-Desktop);
}

h2 {
    font-size: var(--heading-Desktop);
    font-weight: 900;
    font-style: italic;
}

h3 {
    font-size: var(--Subheading-Desktop);
}

.Bold {
    font-weight: 900;
}

@media (max-width: 600px) {
    h1 {
        font-size: var(--Hero-Mobile);
    }

    h2 {
        font-size: var(--heading-Mobile);
    }

    h3 {
        font-size: var(--Subheading-Mobile);
    }
}

/* navbar */
.navbar {
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: var(--Hvid);
    font-weight: 600;
    font-size: 16px;
    width: max-content;
}

.HomeKnap {
    font-weight: 600;
    padding: 5px 13px;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Hvid);
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 1;
    padding: 2rem 1rem;
    z-index: 99;

}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid var(--Lilla-Accent);
    width: 150px;
    margin-left: 5rem;
    color: #000;
}

.dropdown-content a:hover {
    background-color: var(--lys-Graa);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .DropdownIndhold {
    display: flex;
    gap: 3rem;

}

.DropdownIndhold {
    display: none;
    position: absolute;
    background-color: var(--Hvid);
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;

    z-index: 1;
    padding: 2rem 1rem;
}

.DropdownIndhold>div {
    display: flex;
    flex-direction: column;



}

.DropdownIndhold a {
    border-bottom: 3px solid var(--Lilla-Accent);
    margin-left: 5rem;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.DropdownIndhold a:hover {
    background-color: var(--lys-Graa);
}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }
}